<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.simwir.pingpong" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PongSinglePlayer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PongTwoPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_pong_two_player"
            android:screenOrientation="portrait" >
>
        </activity>
        <activity
            android:name=".Juggle"
            android:label="@string/title_activity_juggle" >
        </activity>
        <activity
            android:name=".Wall"
            android:label="@string/title_activity_wall" >
        </activity>
    </application>

</manifest>
